{% load static %}
<nav>
    <div class="container">
        <div class="container_start">
            <a href="{% url 'home' %}">
                <img src="{% static 'img/logo.png' %}" alt="" class="nav_icon">
            </a>
        </div>
        <div class="container_end">
            <div class="nav_elements">
                <a href="{% url 'home' %}" class="nav_content" >Home</a>
                <a href="{% url 'employee:emp_index' %}" class="nav_content" >Employee</a>
                <a href=" {% url 'employee:add_employee' %}" class="nav_content" >add</a>
                <a href="{% url 'employee:employees_alter' %}" class="nav_content" >Alter</a>
            </div>
        </div>
    </div>
</nav>