{% load static %}
<footer>
    <div class="container">
        <div class="container_start">
            <p>aadhithanvelu15@gmail.com</p>
        </div>
        <div class="container_end">
            <a href="https://www.facebook.com/aadhithan.velu">
                <img src=" {% static 'img/fb_logo.png' %} " alt="" class="logo">
            </a>
            <a href="https://www.instagram.com/drakco_15_">
                <img src=" {% static 'img/insta_logo.png' %} "  alt="" class="logo">
            </a>
            <a href="https://www.linkedin.com/in/aadhithan/">
                <img src=" {% static 'img/linkedin_logo.png' %} "  alt="" class="logo">
            </a>
        </div>
    </div>
    
</footer>